{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}





{% block content %}
{% if current_user.is_authenticated %}
<h1>Welcome back</h1>
<p>You are logged in as <span class="text-success">{{ current_user.name }}</span>.</p>
<a href="{{ url_for('auth.logout') }}">Logout</a>
{% else %}
<h1>Welcome to MXN-USD Predictor!</h1>
<h1>by Rob Ugalde</h1>
<p><a href="/api/data/fetch" class="btn btn-primary">Fetch Latest Data</a></p>
<p><a href="/api/predict/predict" class="btn btn-success">Run Prediction</a></p>


<p>You are not logged in.</p>
<a href="{{ url_for('auth.login') }}">Login</a>
{% endif %}
{% endblock content %}
